.button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    place-items: center;
    transition: all 0.3s;
}

.button.background{
    background-color: var(--color-main-alt);
}

.button:hover {
    cursor: pointer;
}

.button.background.hovered{
    background-color: var(--color-contrast);
}

.icon{
}

.icon * {
    transition: all 0.3s;
}

.icon.hovered * {
    color: var(--color-main-alt);
}

.spacer {
    padding: 0 5px 5px;
}

.text {
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3s;
}

.text.extraSmall{
    font-size: 16px;
}

.text.small{
    font-size: 20px;
}

.text.large{
    font-size: 28px;
}

.text.extraLarge{
    font-size: 32px;
}

.text.hovered {
    display: inline-block;
    color: var(--color-main-alt);
}