.button{
    background-color: var(--color-main-alt);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}

.button.hovered{
    background-color: var(--color-contrast);

}

.text{
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3s;
}

.text.hovered{
    display: inline-block;
    color: var(--color-main-alt);
}