.pageBody {
    color: var(--color-contrast);
    display: flex;
    flex-direction: column;
    place-items: center;

    --border-radius: 20px;
}


@media screen and (min-width: 800px) {
    .pageBody {
        margin: 0 50px 0 50px;
    }
}

@media screen and (min-width: 1200px) {

}

.bioHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    margin: 20px 30px 30px 30px;
}

.bioBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--color-main-alt);
    max-width: 700px;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5);
}

@media screen and (min-width: 800px) {
    .bioHolder {
        flex-direction: row;
    }

    .bioBox {
        margin-right: 0;
    }
}

.bioTitle {
    margin-left: 20px;
    font-size: 18px;
    color: var(--color-contrast);
}

.bioTitle > h1 {
    margin: 10px 0;
}

.spacer {
    margin: 0 0 10px 0;
    width: 100%;
}

.spacer > div {
    justify-content: flex-start;
}

.bioText {
    color: var(--color-dark);
    line-height: 1.4;
    font-size: 16px;
    font-weight: 700;
}

.bioText > p {
    margin: 10px 0 0 0;
}

.photo {
    margin-top: 20px;
}

.photo * {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid var(--color-main-alt);
    box-shadow: 5px 5px 40px rgba(1, 1, 1, 0.5);
}

@media screen and (min-width: 1200px) {

    .photo {
        margin-top: 0;
    }

    .photo * {
        border: 15px solid var(--color-main-alt);
    }
}


.skillsContactSections {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .skillsContactSections {
        flex-direction: row;
    }
}

.skills {
    margin-left: 0;
}

@media screen and (min-width: 800px) {
    .skills {
        margin-left: 20px;
    }
}

.skillsHeadline {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin: 0 20px 0 20px;
    color: var(--color-contrast);
}

.skillsBoxesHolder {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .skillsBoxesHolder {
        flex-direction: row;
        align-items: flex-start;
    }
}


.skillBox {
    background-color: var(--color-main-alt);
    border-radius: var(--border-radius);
    margin: 0 20px 20px 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5);
    max-width: 200px;
    min-width: 200px;
}

.skillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillsTitle > h2 {
    margin: 10px;
}

.skillsSpacer {
    width: 100%;
}

.skillsText {
    margin-left: 10px;
    color: var(--color-dark);
    font-weight: 700;
    font-size: 18px;
}

.skillsText > p {
    margin: 10px 0;
}

.skillsText > p::before {
    display: inline-block;
    content: " ";
    min-width: 10px;
    min-height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--color-dark);
}