@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

:root {
    --color-main: #FCEF04;
    --color-secondary-gradient: #DC419B;
    --color-main-alt: #FFC985;
    --color-contrast: #1C1C1C;
    --color-light: #DBDBDB;
    --color-dark: #1C1C1C;
    
    background-color: var(--color-main);
    color: black;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

